@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

body {
    font-family: 'Karla', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #cb997e;
}

.all {
    transform-origin: bottom;
}
@keyframes rim{
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes down {
    0% {
        transform:  translateY(0);
    }
    100% {
        transform: translateY(3px)
    }
}
@keyframes squash {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.98);
    }
}

@keyframes cowleft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
.container {
    position: relative;
    display: flex;
    max-width: 360px;
    height: 360px;
    flex-wrap: wrap;
    background-color: #b7b7a4;
    border-radius: 5px;
    -webkit-box-shadow: 3px 21px 5px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 3px 21px 5px 4px rgba(0, 0, 0, 0.09);
    padding-bottom: 5px;

}

@keyframes rumble {
    0% {
        transform: translateX(0) translateY(0);

    }
    50% {
        transform: translateX(5px) translateY(-5px);
    }
    100% {
        transform: translateX(-10px) translateY(10px);
        transform: ;
    }
}

.drum {
    min-width: 100px;
    height: 100px;
    text-align: center;
    background-color: #ffe8d6;
    border-radius: 5px;
    color: #6b705c;
    margin: 10px;
    position: relative;
    -webkit-box-shadow: 3px 0px 5px 5px rgba(0, 0, 0, 0.047);
    box-shadow: 3px 0px 5px 5px rgba(0, 0, 0, 0.04)
}


.btm {
    position: absolute;
    background-color: #ddbea9;
    width: 100px;
    height: 10px;
    bottom: 0;
    
    
}

.btmbtm {
    position: absolute;
    width: 360px;
    height: 25px;
    bottom: -20px;
    background-color: #b5b5a1;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.light{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
    aspect-ratio: 1;
    border: 3px solid rgb(147, 146, 146);
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    z-index: 2;
    text-align: center;
    background: rgb(255, 65, 65);
    
}


.animations {
    display: flex;
    position: relative;
    width: 360px;
    height: 60px;
    justify-content: space-between;
    background-color: #b7b7a4;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
}

.hat1 {
    position: absolute;
    width: 40px;
    height: 20px;
    border: 3px solid grey;
    border-bottom: 0;
    right: 45%;
    top: -30%;
    opacity: 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px; 
}
.hat2 {
    position: absolute;
    width: 40px;
    height: 20px;
    border: 3px solid grey;
    border-bottom: 0;
    right: 45%;
    top: -10%;
    opacity: 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;   
}

@keyframes openhat1 {
    0% {
        opacity: 1;
        transform: translateY(0px)  scale(0);
    }
    50% {
        opacity: 1;        
    }
    100% {        
        opacity: 0;
        transform: translateY(-30px)  scale(1);
    }
}
@keyframes openhat2 {
    0% {
        opacity: 1;
        transform: translateY(0px)  scale(0);
    }
    20% {
        opacity: 1;        
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(1.5);
    }
}

.screen {
    position: relative;
    width: 90%;
    height: 65%;
    background-color: #c4c4b8;
    margin: 10px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ani1 {
    position: absolute;
    width: 80px;
    height: 40px;
    /* as the half of the width */
    left: 10%;
    /* top: 1px; */
    border-top-left-radius: 90px;
    /* 100px of height + 10px of border */
    border-top-right-radius: 90px;
    /* 100px of height + 10px of border */
    border: 5px solid gray;
    border-bottom: 0;
    bottom: -3px;
    transform: scale(.6);
}

@keyframes kick {
    0% {
        height: 0px
    }
    100% {
        height: 50px
    }
}

.ani2 {
    width: 80px;
    border-top: 3px solid gray;
    height: 0px;
    transform-origin: center;
    position: absolute;
    left: 38%;
    top: 65%;
}

@keyframes rotateright {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(20deg);
    }
}

@keyframes rotateleft {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.ani3 {
    position: absolute;
    right: 50px;
    top: -6px;
    height: 40px;
    width: 40px;
    transform: scale(.6);
    transform-origin: center;
    border: 5px solid grey;
    border-radius: 50%;
}



@keyframes snare {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(.6);
    }
}

@keyframes snareright {
    0% {
        transform: translateX(100px);

    }
    100% {
        transform: translateX(0px);
    }
}
.tomline {
    width: 400px;
    border-top: 6px solid grey;
    height: 10px;
    opacity: 0;
    z-index: -3;
}
@keyframes tom {
    0% {
        opacity: 1;
        transform: translateY(0) ;
        width: 300px;
    }
    100% {
        opacity: 0;
        transform: translateY(100px) ;
        width: 100px
    }
}
.tomleft,
.tomright {
    height: 400px;
    border-top: 6px solid grey;
    width: 500px;
    transform: rotate(0deg);
    position: absolute;
    z-index: -1;
}
.tomleft{
    opacity: 0;
    top: -10%;
    left: -60%;
}
.tomright {
    opacity: 0;
    top: -10%;
    right: 50%;
}
@keyframes tomlefts {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(90deg);
        width: 300px;
    }
    100% {
        opacity: 0;
        transform: translateX(-200px) rotate(90deg);
        width: 100px;
    }
}
@keyframes tomrights{
    0% {
        opacity: 1;
        transform: translateX(0) rotate(90deg);
        width: 300px;
    }
    100% {
        opacity: 0;
        transform: translateX(200px) rotate(90deg);
        width: 100px;
    }
}

.tomtop {
    position: relative;
    width: 300px;
    border-top: 6px solid grey;
    z-index: -2;
    top: 5%;
}
@keyframes tomtop {
    0% {
        width: 300px;
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        width: 100px;
        opacity: 0;
        transform: translateY(-150px);
    }
}

.cowbell {
    position: absolute;
    left: 55%;
    top:24%;
    width: 40px;
    height: 40px;
    border-left: 3px solid #808080;
    transition: tranform ease;
    transform: rotate(90deg);
}
.cowbell2 {
    position: absolute;
    left: 43%;
    top:24%;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    border-left: 3px solid grey;
    transition: tranform ease;
}
@keyframes cowbell {
    0% {
        transform: translateY(0)   rotate(90deg);
    }
    20% {
        transform: translateY(-40px) rotate(92deg);
    }
    80% {
        transform: translateY(-40px) rotate(92deg);
    }
    110% {
        transform: translateY(0)  rotate(90deg);
    }
}